/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/com.roster/nbproject/private/
/roster/nbproject/private/
/roster/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/GBD/nbproject/private/
/GBD/build/
